#school_logo,
#sp_pan_img,
#sp_aadhar_img,
#auth_cert_img,
#school_dd {
    display: none;
}

#reg_form1 {
    display: none;
}

ion-grid h3 {
    margin: 0;
}

#fields_for_online,
#fields_for_challan,
#imgs_for_online1,
#imgs_for_online2,
#imgs_for_online3,
#imgs_for_challan {
    display: none;
}

.sub_sel ion-row,
.sub_sel ion-col {
    border: 1px solid gray;
}

.sub_sel .lang_col {
    display: flex;
    flex-wrap: wrap;
}

.sub_sel ion-col div {
    height: 29px;
    padding: 6px;
}

.sub_sel ion-col ion-label {
    margin-left: 5px;
    font-size: 20px;
}