.main_body {
    padding: 12px;
}

.main_body div {
    text-align: center;
}

.main_body div h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: xxx-large;
    font-weight: 900;
}

.main_body ion-card {
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
    margin: 28px;
}

.main_body ion-card ion-img {
    width: 80px;
    height: 80px;
}

.padding_horizontal {
    padding: 7px 20px;
}

.padding_horizontal h3,
.padding_horizontal h4 {
    text-transform: capitalize;
}

.view_applicant {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}