.main_body {
    padding: 12px;
}

.main_body div {
    text-align: center;
}

.main_body div h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: xxx-large;
    font-weight: 900;
}

.main_body ion-card {
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
    margin: 28px;
}

.main_body ion-card ion-img {
    width: 80px;
    height: 80px;
}

.padding_horizontal {
    padding: 7px 20px;
}

.padding_horizontal h3,
.padding_horizontal h4 {
    text-transform: capitalize;
}

.view_applicant {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

ion-segment {
    background-color: gainsboro;
    margin-top: 18px;
}

ion-segment ion-label {
    font-size: 20px;
}

.merit_list_filter {
    border-bottom: 1px solid gray;
}

.filter_button {
    cursor: pointer;
}

.merit_list_filter h4 {
    font-weight: 900;
}

.merit_list_filter ion-icon {
    margin-left: 8px;
    margin-top: 8px;
}

#merit_filter {
    display: none;
}

.all_subs {
    display: flex;
    flex-wrap: wrap;
}

.all_subs ion-checkbox {
    width: 15px;
    height: 15px;
}