#middle_gap {
    width: 45%;
}

ion-img {
    width: 100%;
}

#science,
#commerce,
#arts {
    display: none;
}

.select_stream div {
    display: inline-flex;
    margin-right: 16px;
}

.select_stream div ion-checkbox {
    margin: 0;
    margin-right: 3px;
}

ion-radio-group {
    display: inline-flex;
}

ion-radio-group div {
    margin: 4px;
}

ion-radio-group ion-label,
.select_stream ion-label {
    font-size: 17px;
    margin-left: 3px;
}