#middle_gap {
    width: 45%;
}

ion-img {
    width: 100%;
}

#science,
#commerce,
#arts {
    display: none;
}

.select_stream div {
    display: inline-flex;
    margin-right: 16px;
}

.select_stream div ion-checkbox {
    margin: 0;
    margin-right: 3px;
}